<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trianz.locationalarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisson.ACCESS_GPS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/location_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Goolge Maps API Key -->
        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCuIlholclseP4XXSIY9WqFHqFTXLxk2t8" />
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFOzoeXPmSKDvNU_K3ABz-YRFr23uldrk" />

        <activity android:name=".AddReminderActivity"></activity>

        <service android:name=".Utils.LocationReminderIntentService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e4563a697e71c9b786ac37f0f46e478f21c76002" />
    </application>

</manifest>